body {
    font-family: 'Roboto';
}

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    overflow: hidden;
    height: 100%;
    gap: 1rem;
}

.clients-title {
    font-size: 32px;
    font-weight: 500;
    padding: 16px 48px;
    color: #002C59;
}

.clients-content {
    display: flex;
    width: 100%;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.client-image {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    padding: 1rem;
    flex: 1 0 auto;
    object-fit: cover;
}

@media (max-width: 480px) {
    .clients {
        font-size: 120%;
        margin: 1rem auto;
    }

    .clients-content {
        flex-direction: column;
        align-items: center;
    }

    .client-image {
        flex: 1 0 100%;
    }
    .client-image img {
        object-fit: cover;
    }
}