.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    overflow: hidden;
    height: 100%;
    gap: 1rem;
}

.clients-title {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 500;
    padding: 16px 48px;
    color: #002C59;
}

.clients-content {
    display: flex;
    font-family: 'Roboto';
    /* padding: 16px 48px; */
    color: #002C59;
    /* border: 2px solid green; */
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
}

.client-image {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    padding: 1rem;
    flex: 1 0 auto;
    object-fit: cover;
}

@media (max-width: 480px) {
    .clients {
        font-size: 120%;
        margin: 1rem auto;
        /* border: 1px solid red; */
    }

    .clients-content {
        flex-direction: column;
        align-items: center;
        /* padding: 1rem; */
        /* border: 1px solid red; */
    }

    .client-image {
        flex: 1 0 100%;
        /* border: 1px solid green; */

    }
    .client-image img {
        object-fit: cover
    }
}