.nav-menu {
    background-color: #002C59;
    display: flex;
    align-items: center;
    font-family: Roboto;
    color: #FF914D;

}

.nav-menu-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    color: #FF914D;
    flex: 1;
}

.nav-menu-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 3;
}

.nav-menu .nav-link {
    font-size: 16px;
    font-weight: 500;
}

.nav-menu .nav-link a {
    text-decoration: none;
    color: #FF914D;
}

.nav-link:hover {
    /* font-weight: bolder; */
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 2px solid;
    border-bottom-color: #FF914D;
}

.nav-button {
    color: #FF914D;
    background-color: #002C59;
    border: 2px solid #FF914D;
    font-size: 14px;
    font-weight: bold;
    border-radius: 16px;
    padding: 4px 24px;
}

.nav-button:hover {
    color: #002C59;
    background-color: #FF914D;
    cursor: pointer;
    font-weight: bold
}

@media (max-width: 480px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        font-size: 120%;
        align-items: stretch;
    }

    .nav-menu-brand {
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 3rem;
    }
/* 
    .nav-menu-brand .title {
        flex: 1 0 auto;
        justify-content: start;
    } */

    .nav-menu-links {
        flex-direction: column;
        margin: 1rem 2rem;
        row-gap: 0.6rem;
        align-items: start;
    }

    .nav-button {
        align-self: center;
    }
}